<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="radio" name="quantity" value="1/2 Plate" data-tab-id="62302cb78fad708ed6bbdfa2">
        <input type="radio" name="quantity" value="1/2 Plate" data-tab-id="62302cb78fad708ed6bbdfa2">
        <input type="radio" name="quantity" value="1/2 Plate" data-tab-id="62302cb78fad708ed6bbdfa2">

        <button class="add-to-cart-btn" id="62302cb78fad708ed6bbdfa2">HHHHHHHHHHHEr</button>
</body>
<script src="C:\Users\LENOVO\Downloads\NoxshRestaurant\public\js\addToCart.js"></script>
</html>