<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
   <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Ballet:opsz@16..72&family=Bellota+Text:wght@300;400;700&family=Charmonman:wght@400;700&family=Comfortaa:wght@300;400;500&family=Dancing+Script:wght@400;500;600&family=Fira+Code:wght@300;400;500&family=Major+Mono+Display&family=Montserrat:wght@100;200;300;400;500&family=Pacifico&family=Quicksand:wght@300;400;500&family=Rochester&family=Sacramento&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/sass/main.css">
    <link rel="stylesheet" href="/sass/pp.css">


</head>
<body>
    {{>navbar}}
  <div class="pp-con">
    <h1>Privacy Policy</h1>
    <hr>
    <div class="pol-con">
      <div class="wrapper">
        <div class="pol-holder">
            <h2>Last Updated on Aug 16, 2022</h2>
            <p>This Privacy Policy document contains types of information that are collected and recorded by Noxsh Dine and how we use it.</p>
            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to mail us at care@noxshdine.com</p>
            <p>In every respect, by using the Site, whether registered user or guest user you agree to be bound by terms of this Privacy Policy. Please read this Policy before using our website (i.e Noxshdine ) or submitting any personal information to Noxshdine . This Policy is a part of and incorporated within, and is to be read along with, the Terms and Conditions. If you do not feel comfortable with any part of this Policy or our Terms and Conditions, you must not use or access our Services. This Privacy Policy will be effective from the date mentioned above.</p>
        </div>

        <div class="pol-holder">
            <h2>DEFINITIONS</h2>
              <p>As used in this Agreement/PRIVACY POLICY, unless expressly otherwise stated or evident in the context, the following capitalized terms shall have the following meaning.</p>
              <p>As used in this Agreement/PRIVACY POLICY, unless expressly otherwise stated or evident in the context, the following capitalized terms shall have the following meaning.</p>
              <p>"WEBSITE" refers to (www.noxshdine.com) and (www.noxshdine.in). MERCHANT/MERCHANT'S "RESTAURANT/RESTAURANT'S" refers all those restaurants which are registered with us and on our website. Please Note, NOXSH DINE and NOXSHDINE refers to the same. "SERVICE/SERVICES" refers to all the  services used by CUSTOMER/BUYER AND RESTAURANT OR VISITOR or ANYONE, that are provided on NOXSHDINE website. "YOU" means any visitor, user,buyer,customer or other person who accesses our Platform or Services, whether or not such person registered for an Account (as defined below), or a person or restaurant that is registered/unregistered with NOXSH DINE to use the Services. "WE", "US," OR "OUR" collectively refers to NOXSHDINE. "Device" refers to any internet enabled or without internet connected device such as a phone, tablet, computer or any other device that can be used to visit NOXSH DINE and use the services.</p>
        </div>

        <div class="pol-holder">
            <h2>CONSENT</h2>
              <p>By using our website, you agreed and hereby consent to our Privacy Policy and agree to its terms and Conditions. If you are not agree with our privacy policy and terms ,please do not use our services.</p>
        </div>

        <div class="pol-holder">
            <h2>SECURITY</h2>
              <p>NOXSHDINE do not sell, trade or rent your personal information collected on the site to others. The information collected by our site is used to process orders, to keep you informed about your order status, to notify you of products or special offers that may be of interest to you, and for statistical purposes for improving our site. We will disclose your  information to respective Restaurant for order tracking purposes or process your check or money order, as appropriate, fill your order, improve the functionality of our site, perform statistical and data analyses deliver your order and deliver promotional emails to you from us.We do not monitor/control the privacy policy of restaurants,However in case any you should ask to the restaurant before ordering from them.</p>
        </div>

        <div class="pol-holder">
            <h2>CHILDREN'S INFORMATION</h2>
            <p>Another part of our priority is adding protection for children while using the our website. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
            <p>Noxshdine does not knowingly collect any Personal Identifiable Information from children under the age of 18. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.At any case  we will not resposible for that.</p>
        </div>

        <div class="pol-holder">
            <h2>ELIGIBILITY TO USE OUR SERVICES</h2>
            <p>You certify that you are at least eighteen (18) years of age or older and are fully able and competent to understand and agree to all the terms and conditions and you have read our PRIVACY POLICY and agreed to it. If you are under 18 years of age please stop using our services.</p>
        </div>

        <div class="pol-holder">
            <h2>COMPLIANCE</h2>
            <p>When you access and use the Services, you abide by all applicable laws and regulations of INDIA.</p>
        </div>

        <div class="pol-holder">
            <h2>COOKIES</h2>
            <p>Cookies are small web files that a site or its provider transfers to your device’s hard drive through your web browser that enables the site’s or provider’s system to recognize your browser and remember certain information.</p>
        </div>

        <div class="pol-holder">
            <h2>HOW WE USE COOKIES</h2>
            <p>To make our Services function properly.</p>
            <p>To improve our Services.</p>
            <p>To recognize you when you return to our Site and to remember information you have already provided, such as items already in your order cart.</p>
            <p>To collect information about your activities over time and across third party websites or other online services in order to deliver content and advertising tailored to your interests.</p>
            <p>To provide a secure browsing experience during your use of our Services.</p>
            <p>You may disable the use of cookies by modifying your browser settings.</p>
        </div>

        <div class="pol-holder">
            <h2>HOW WE USE/SHARE INFORMATION</h2>
            <p>Information will be used to process your order and to manage your account. We will use your information to contact you in response of your suggestion or query,complaint  regarding the functionality changes to our products, any special offers which will be suitable to you and changes in Privacy Policy.We may use the personal information to provide, maintain, improve and develop the our website and Services.</p>
            <p>We share some information like(Name,Username, Email id,Contact number, Payment method, Location ,Order details) or order related information when required to restaurant/restaurant's from which you have placed order.</p>
            <p>We share some of your personal/order details to our third party payment processor which is required for your order to be processed.</p>
            <p>We may share/disclose your information to government agencies as and when we notice it is necessary</p>
            <p>We used to communicate with you through emails, messages or call. We are also providing email links to contact us directly. We are eager to reply you for your message. The information which you have send to us may be reviewed, discarded or used. These information may be used to improve our Website, Application, Product and Services. </p>
        </div>

        <div class="pol-holder">
            <h2>MODIFICATION</h2>
            <p>Our Services may change from time to time. As a result, we reserve the right to update or modify this Policy at any time and from time to time without prior notice. If you object to any changes, you must cease using our Services.You should regularly review this Policy, as your continued use of the Services after any such changes constitutes your agreement to such changes. This Policy became effective on the date indicated at the top of this page. Your continued use of our Services after any changes or revisions to this Policy indicates your agreement to the terms of the revised Policy.</p>
        </div>

        <div class="pol-holder">
            <h2>CONTACT US</h2>
            <p>If you have any queries regarding this Privacy Policy or other privacy-related matters, please email us at care@noxshdine.com.</p>
        </div>
      </div>

    </div>
  </div>
</body>
<script src="./js/common.js"></script>
</html>