<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
   <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Ballet:opsz@16..72&family=Bellota+Text:wght@300;400;700&family=Charmonman:wght@400;700&family=Comfortaa:wght@300;400;500&family=Dancing+Script:wght@400;500;600&family=Fira+Code:wght@300;400;500&family=Major+Mono+Display&family=Montserrat:wght@100;200;300;400;500&family=Pacifico&family=Quicksand:wght@300;400;500&family=Rochester&family=Sacramento&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="/sass/main.css">
    <link rel="stylesheet" href="/sass/pp.css">


</head>
<body>
  {{>navbar}}
  <div class="pp-con">
    <h1>Terms & Conditions</h1>
    <hr>
    <div class="pol-con">
      <div class="wrapper">
        <div class="pol-holder">
            <h2>LIMITATION OF LIABILITY</h2>
            <p>Regardless of whatever losses you might sustain, the total amount of our and any of our suppliers' obligations under any part of this Agreement, as well as your only available remedy, shall not exceed the price you actually paid for the service. To the greatest extent permitted by applicable law, neither we nor our suppliers shall be liable for any special, incidental, indirect, or consequential damages of any kind (including, but not limited to, damages for loss of profits, loss of data or other information, business interruption, personal injury, or loss of privacy) arising out of or in any way connected with the use or inability to use the service, third-party software, and/or third-party hardware. You might not be covered by the aforementioned limitation or exclusion because certain states/jurisdictions do not permit the exclusion or limitation of incidental or consequential damages.</p>
        </div>

        <div class="pol-holder">
            <h2>SEVERABILITY</h2>
              <p>The remaining sections of this Agreement shall remain in full force and effect if any provision is determined to be illegal or unenforceable and shall be amended and construed to the fullest extent permitted by applicable law to achieve the purposes of such provision.</p>
              <p>This Agreement constitutes the complete agreement between you and us about the Services, along with the Privacy Policy and any other legal notifications we post on the Services. The legality of the remaining terms of this Agreement, which shall continue in full force and effect, shall not be affected if any provision of this Agreement is found a court with appropriate authority to declare unenforceable.</p>
              <p>No term of this Agreement may be waived in a manner that would be construed as a subsequent or continuing waiver of that term or any other term, and our omission to exercise any right or provision under this Agreement shall not be regarded a waiver of such right or provision. You and we both agree that any claim arising out of or related to the services must be submitted within one (1) year of the claim occurring, otherwise the claim will be forever barred.</p>
        </div>

        <div class="pol-holder">
            <h2>WAIVER</h2>
              <p>Except as specified above, a party's inability to exercise a right under this Agreement or to enforce a performance obligation shall not prevent that party from doing so in the future, nor shall a party's waiver of one breach constitute a waiver of any subsequent breaches.</p>
              <p>No failure on the part of either party to exercise, and no delay in exercising, any right or power under this Agreement shall be construed as a waiver of that right or authority. Furthermore, no single or limited use of any power provided by this Agreement shall restrict later exercise of that power or any other authority. The provisions of this Agreement shall take precedence over any relevant purchase or other conditions in the event of a conflict. These Terms shall be construed and enforced in accordance with Indian law. The Warud Court, Dist: Amravati shall have exclusive jurisdiction over any dispute arising out of or relating to these agreements.</p>
        </div>

        <div class="pol-holder">
            <h2>ENTIRE AGREEMENT</h2>
              <p>All past and contemporaneous written or oral agreements between you and us are superseded by the Agreement, which represents the complete agreement between you and us governing your use of the service. When you use or buy any services from us, you could be subject to additional terms and conditions that we will give to you at the time of use or purchase.</p>
        </div>

        <div class="pol-holder">
            <h2>INTELLECTUAL PROPERTY</h2>
            <p>We, its licensors, or other providers of such material own our platform and all of its contents, features, and functionality (including but not limited to all information,logo, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof), which are protected by INDIA and other national and international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws. The material may not be altered, copied, reproduced, downloaded, or distributed in any way, in whole or in part, except as expressly authorised in these Terms & Conditions, without our express prior written authorization. No part of the content may be utilised without permission. The content cannot be used in any way without permission.</p>
            <p>You admit that NOXSHDINE is the registered owner of the word mark "NOXSHDINE" and the logo, including but not limited to its variations Intellectual property rights (IPR), and you agree not to directly or indirectly challenge the legality of NOXSHDINE's or its affiliates' ownership of the licenced marks or any registrations thereof, or submit any applications for the registration of the licenced marks or any names or logos derived from or confusingly similar to the licenced marks. If you learn of any Intellectual property rights (IPR) violation, you must report it to care@noxshdine.com with all pertinent details.</p>
        </div>

        <div class="pol-holder">
            <h2>DISPUTE</h2>
              <p>A Notice of Disagreement, which is a written declaration that includes the name, address, and contact information of the party delivering it, the facts giving rise to the dispute, and the remedies sought, must be given by either you or us to the other in the case of a dispute. Any Notice of Dispute must be sent via email to care@noxshdine.com. If we have your address on file, we will mail any Notice of Dispute to you; if not, we will send it to your email address. Any dispute arising out of or related to these agreements shall only be heard by the Courts of Warud, Dist: Amravati.</p>
        </div>

        <div class="pol-holder">
            <h2>SUBMISSIONS</h2>
              <p>Any ideas,suggestions, designs, photographs,information, advertisements, data or proposals, including ideas for new or improved products, services, features, technologies or promotions, you expressly agree that such submissions will automatically be treated as non-confidential and non-proprietary and will become the exclusive property of us without any compensation or credit to you whatsoever.We and our affiliates are under no obligation in relation to such submissions or posts and shall be free to use the ideas contained in such submissions or posts for any purposes in any medium in perpetuity. including, but not limited to, developing, manufacturing, creating and marketing products and services using such ideas.</p>
        </div>

        <div class="pol-holder">
            <h2>TYPING ERRORS</h2>
              <p>In the event a product and/or service is listed at an incorrect price or with incorrect information due to typing error, we reserve the right to refuse or cancel any orders placed for the product or service listed at the incorrect price.We will have the right to refuse or cancel such an order, regardless of whether the order has been confirmed and whether charged. If you already been charged for the purchase and your order is cancelled, we shall immediately issue REFUND for the same amount.</p>
        </div>

        <div class="pol-holder">
            <h2>MISCELLANEOUS</h2>
              <p>If for any reason a court of competent jurisdiction finds any provision or part of these Terms and Conditions to be unenforceable, the remainder of these Terms and Conditions will continue and will be applied. Any waiver of any provision of these Terms and Conditions shall  be void unless in writing and signed by our authorized representative. We will be entitled to order relief or other equitable relief (no obligation to apply for a bond or bond) in the event of your anticipated default or default. . We operate and control our Services from our offices in INDIA. The Service is not intended for distribution  or use by any person or entity in any jurisdiction of any country where such distribution or use would violate local laws or regulations. direction. Accordingly, those  who choose to access our Services from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent that local laws are applicable.These Terms and Conditions (including and in conjunction with our Privacy Policy) contain the entire agreement and supersede all prior agreements between you and us with respect to its subject matter, and you do not may be changed or modified. The section headings used in this Agreement are provided for convenience only and will not constitute any legal entry.</p>
        </div>

        <div class="pol-holder">
            <h2>DISCLAIMER</h2>
              <p>1. While we try to ensure that information on the Website is correct, we do not promise it is accurate or complete. No warranty is given about the quality,functionality,availability or performance of our content or services. We may change add or remove functionalities or features. We reserve the right to make additions, deletions, or modifications to the contents on the Service at any time without prior notice.</p>
              <p>2. Under no circumstances shall we be responsible any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service.</p>
              <p>3. Before placing your order, you should always get in touch with the restaurant directly if you or the person you are purchasing for has any questions about food allergies, intolerances, or other dietary requirements. NOXSHDINE disclaims any liability in any situation.</p>
              <p>4. The legal contract for the buy and sale of Products is between you and the Restaurant that you place your Order with. We have no control over the actions. Without limiting the generality of the foregoing, you acknowledge and accept the following by using the Website.</p>
              <p>  4(a): We disclaim any assurances that the products you order from any restaurant through our website will be in good quality or suitable for your purpose and we disclaim any such warranties.</p>
              <p>  4(b). Estimated times for deliveries and collections are provided by the Restaurants and are merely estimates. Neither we nor the Restaurants guarantees that Orders will be delivered or will be available for collection within the estimated times.</p>
              <p>  4(c). We encourage all our Restaurants to accept all Orders and to communicate any rejection promptly, and we will notify you as soon as reasonably possible if a Restaurant rejects your Order. However, we do not guarantee that Restaurants will accept and fulfil all Orders, and Restaurants have the discretion to reject Orders at any time.Restaurants are not required to deliver an Order to a location outside of their designated delivery area, which may change from time to time.</p>
              <p>  4(d). The foregoing disclaimers do not affect your statutory rights against any Restaurant.</p>
              <p>5. We grant you with access to and use of the Website on the basis that, to the maximum extent permitted by law, we exclude all representations, warranties, conditions, undertakings and other terms in relation to the Website and your use of it (including any representations, warranties, conditions, undertakings and other terms which might otherwise apply to the Website and your use of it, or be otherwise implied or incorporated into these Website Terms, by statute, common law or otherwise ).</p>
              <p>6. Food images displayed may or may not represent the actual food.</p>
              <p>7. NOXSHDINE do not monitor or control any prices of food items in any of the listed restauarants on our website and is not responsible for the changes in the prices.</p>
              <p>8. Neither verbal or written information provided by us or any of our affiliates, staff members, officers, directors, agents, or other representatives shall establish a warranty. Information regarding prices and availability is subject to change without prior notice.</p>
              <p>9. Without limiting the foregoing, we make no guarantees that our Service will be uninterrupted, uncorrupted, timely, or error-free.</p>
              <p>10. We have no influence over any customer reviews.Customer reviews are independent of us and do not reflect our opinions, they represent the unique opinion of the reviewer.If you find any reviews on our website to be offensive or untrue, you may email us and we'll remove them after investigating the situation.</p>


            

        </div>

        <div class="pol-holder">
            <h2>CONTACT US</h2>
              <p>If you have any queries regarding this terms and conditions, please email us at care@noxshdine.com.</p>
        </div>

      </div>

    </div>
  </div>
</body>
</html>