* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f5f5 !important;
}

body h2 {
  font-size: 2.5rem;
  margin-top: 4rem;
}

.overall-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  padding: 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
}

.overall-con .header-btn {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #3ea055;
  font-size: 1.8rem;
  color: white;
  border: 0.1rem solid #3ea055;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.overall-con h1 {
  font-size: 3rem;
}

.overall-con .docs-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overall-con .docs-div .imgs-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}

.overall-con .docs-div .inner-img-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 2rem;
}

.overall-con .docs-div .inner-img-holder span {
  font-size: 2rem;
}

.overall-con .docs-div img {
  padding: 2rem;
  width: 20rem;
  height: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.overall-con .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overall-con .restaurant-details-con {
  width: 100%;
  background-color: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overall-con .restaurant-details-con .basic-det {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4rem;
}

.overall-con .restaurant-details-con .basic-det .res-img-con img {
  width: 30rem;
  height: 30rem;
  border-radius: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #f5f5f5;
}

.overall-con .restaurant-details-con .basic-det .res-details-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 40rem;
  max-height: 30rem;
  padding: 0 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overall-con .restaurant-details-con .basic-det .res-details-con .det-group {
  width: auto;
}

.overall-con .restaurant-details-con .basic-det .res-details-con .det-group span {
  font-size: 2rem;
}

.overall-con .restaurant-details-con .basic-det .res-details-con .det-group p {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: start;
  color: black;
  font-weight: 700;
}

.overall-con .restaurant-details-con .basic-det .res-details-con .det-group .doc-number {
  font-size: 2.5rem;
}

.overall-con .documents-details {
  background-color: white;
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4rem;
}

.overall-con .documents-details .doc-det-con {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 40rem;
}

.overall-con .documents-details h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.overall-con .documents-details .inner-det-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.overall-con .documents-details .inner-det-con .det-group {
  width: auto;
}

.overall-con .documents-details .inner-det-con .det-group span {
  font-size: 2rem;
}

.overall-con .documents-details .inner-det-con .det-group p {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: start;
  color: black;
  font-weight: 700;
}

.overall-con .documents-details .inner-det-con .det-group .doc-number {
  font-size: 2.5rem;
}

.overall-con .btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.overall-con .btn-con .approve, .overall-con .btn-con .disapprove {
  font-size: 2rem;
  padding: 1rem 4rem;
  cursor: pointer;
}

.overall-con .btn-con .approve {
  background-color: #3ea055;
  color: white;
  border: 0.1rem solid #3ea055;
}

.overall-con .btn-con .disapprove {
  color: #cc1c1c;
  background-color: #f5f5f5;
  border: 0.1rem solid #cc1c1c;
}

.en-img-con {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.en-img-con span {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4rem;
}

.en-img-con img {
  width: 100rem;
  height: 100rem;
  -o-object-fit: contain;
     object-fit: contain;
}

select[name="locality"] {
  font-size: 2.5rem;
  padding: 1rem;
  left: 50%;
  margin-top: 2rem;
  position: relative;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.restaurants-holder-div {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  gap: 3rem;
}

.restaurants-holder-div .restaurant {
  width: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  gap: 6rem;
  border-radius: 1rem;
  border: 1px solid #afafaf;
}

.restaurants-holder-div .res-name-add h1 {
  font-size: 2.5rem;
}

.restaurants-holder-div .res-name-add p {
  font-size: 2rem;
  color: #afafaf;
  max-width: 50rem;
}

.restaurants-holder-div .res-contact-number, .restaurants-holder-div .pending-amount, .restaurants-holder-div #updateAmount {
  font-size: 2rem;
}

.restaurants-holder-div #updateAmount {
  background-color: #dc3545;
  border: #dc3545;
  padding: 1rem 2rem;
  color: white;
  border-radius: 0.5rem;
}

.popupdiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  place-items: center;
  z-index: 1;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  display: none;
}

.popupdiv .popup {
  background-color: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  -webkit-animation: pop 0.2s ease-in-out;
          animation: pop 0.2s ease-in-out;
}

.popupdiv .btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.popupdiv .confirm, .popupdiv .decline {
  font-size: 1.8rem;
  padding: 0.8rem 2rem;
  background-color: #3ea055;
  border: 1px solid #3ea055;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}

.popupdiv .decline {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=admin.css.map */