nav{
    width: 100% !important;
    height: 6rem;
    background-color: white !important;
    display: flex;
    align-items: center;
    
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    .nav-wrapper{
        width: 120rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        img{
            width: 18rem;
            height: 10rem;
            color: #333;
        }
    }

    .nav-util{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        color: white;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            li{
                list-style: none;
                font-size: 1.8rem;

                a{
                    text-decoration: none;
                    color: white;
                }
                button{
                    background-color: antiquewhite;
                    border: none;
                    border-radius: 0.5rem;
                    font-size: 1.8rem;
                    padding: 0.5rem 2rem;
                  color: #333;
                }
            }
        }
    }
    .acc-det{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: 0.5s ease-in-out;
        width: auto;
        
        .fa-heart{
            transition: 0.5s ease-in-out;
            color: white;
            font-size: 3rem;
            width: 3rem;
            height: 3rem;
        }
        .prof-img{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: gray;
            margin-left: 2rem;
        }
        span{ 
            transition: 0.5s ease-in-out;
            font-family: 'Poppins', "sans-serif";
            font-size: 2rem;
            padding: 0 1rem;
            color: #333 !important;
        }
        .fa-caret-down{
            transition: 0.5s ease-in-out;
            font-size: 2rem;
            color:#333 !important;
        }
        a{
            text-decoration: none;
            color: white;
            font-family: 'Poppins', "sans-serif";
            font-size: 2rem;
            padding: 0 1rem;
            transition: 0.5s ease-in-out;
        }
        .home-prof-div-con-b{
            position: absolute;
            top: 8rem;
            right: 0;
            width: 22rem;
            height: auto;
            background-color: white;
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            border-radius: 0.5rem;
            overflow: hidden;
            transition: 0.2s linear ease-in-out;
            box-shadow: 0 3px 1rem rgba(0,0,0,.1);
            ul{
                padding-left: 0;
                margin-bottom: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
               
            }
            ul li{
                
                width: 100%;
                padding: 1rem 0rem;
                list-style: none;
                font-size: 2rem;
                font-family: 'Poppins' , "sans-serif";
                font-weight: 300;

                a{  
                    display: inline-block;
                    margin-left: 1rem;
                    padding: 0;
                    color: #333;
                    width: 100%;
                    height: 100%;
                    
                    
                }
               
            }
            ul li:hover{

                background-color: #f5f5f5;
            }

        }
    }
}

.pp-bg-con{
    width: 100vw;
    height: 100vh;
    
   
   
    justify-content: center;
    align-items: center;
   position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 15;
    top: 0;
    display: none;
}
.success-popup{
    position: relative;
    
    z-index: 5;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
    min-width: 40rem;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    img{
        width: 5rem;
        height: 5rem;
        margin-bottom: 2rem;
    }
    h2{
        font-size: 3.5rem;
    }
    p{
        font-size: 2rem;   
        text-align: center;
    }
    small{
        color: #afafaf;
        font-size: 2rem;
    }
    button{
        margin-top: 2rem;
        font-size: 2rem;
        background-color: #00917c;
        border: 0.1rem solid #00917c;
        padding: 1rem 4rem;
        color: white;
        border-radius: 0.5rem;


    }
}
.main-form-outer-div{
    width: 100%;
    min-height: calc(100vh - 8rem);
   padding: 4rem 0;
   margin-top: 8rem;

   h1{
       font-size: 3.2rem;
       display:block;
       width: 100%;
       margin-bottom: 4rem;
       text-align: start;
   }

    form{
        width: 100%;
        min-height: 50vh;
        
    
        .form-content-wrap-div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }
        .progress-bar{
            position: sticky;
            top: 10rem;
            display: flex;
            height: 40rem;
            box-shadow: 0 3px 1rem rgba(0,0,0,.1);
           justify-content: space-between;
            background-color: transparent;
            counter-reset: step;
            overflow: visible;
        
            width: 40rem;
            padding: 2rem;
            border-radius: 0.5rem;
            
            
            .progress-step{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: #afafaf;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                span{
                    position: absolute;
                    padding: 0 2rem;
                    left: 5rem;
                    color: #afafaf;
                    font-size: 1.5rem;
                    overflow: hidden;
                    white-space: pre-wrap;
                    text-align: start;
                }
              
            }
        }
        .progress-bar::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 3.2rem;
            transform: translate(0,-50%);
            height: calc(100% - 4rem);
            width: 0.5rem;
            background-color: #afafaf;
            z-index: -1;
         
           
        }
        .progress-step::before{
            counter-increment: step;
            content: counter(step);
           
        }
        .progress-step::after{
            
            position: absolute;
            padding: 0 2rem;
            width: auto;
            left: 5rem;
            align-items: flex-start;
           white-space: pre-wrap;
            color: #afafaf;
            font-size: 2rem;
        }
        .progress-step-active{

                background-color: #1c1c1c !important;
            font-size: 1.5rem;
            
        }
        
        .form-wrap-con{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 4rem;
            
        }
        .form-step{
            width: 100%;
            height: auto;
            box-shadow: 0 3px 1rem rgba(0,0,0,.1);
            padding: 0 2rem;
            border-radius: 0.5rem;
            display: none;
           
            .input-group{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 2rem 0;

                .doc-img{
                    width: 20rem;
                    height: 20rem;
                    border: 0.1rem solid #afafaf;
                    margin-bottom:2rem ;
                    object-fit: contain;
                    object-position: center;
                    display: none;
                }
                .radio-input-group{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    padding: 2rem 0;
                    h2{
                        margin: 0;
                        margin:0 2rem;
                        font-size: 1.8rem;
                    }

                    input{
                        width: auto;
                        margin: 0;
                    }
                }
                .otp-div{
                    width: auto;
                    height: auto;
                    gap: 2rem;
                    align-items: center;
                    margin-bottom: 2rem;
                    .otp-inp{
                        width: 50%;
                        text-align: center;
                        margin-bottom: 0.5rem !important;
                    }
                    button{
                        background-color: #1c1c1c;
                        color: white;
                        font-size: 2rem;
                        padding: 0.8rem 2rem;
                        border: 0.1rem solid #1c1c1c;
                        border-radius: 0.5rem;
                        height: max-content;
                    }

                }
                
                .verify-owner-email{
                    width: 100%;
                    font-size: 2rem;
                    padding: 1rem;
                    text-align: center;
                    border: 0.1rem solid #1c1c1c;
                    background-color: #1c1c1c;
                    color: white;
                    border-radius: 1rem !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    i{
                        font-size: 2rem;
                    }
                }
                
                .doc-img-upload{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    background-color: #f5f5f5;
                    position: relative;
                    padding: 0.8rem;
                    border-radius: 1rem !important;
                    border: 0.1rem dashed black;
                    span{
                    color: black;
                    font-size: 2rem;

                    }
                    input{
                        position: absolute;
                        width: 90%;
                        height: 100%;
                        margin: 0;
                        opacity: 0;
                    }
                }
                .input-grp-2{
                    display: flex;
                    gap: 2rem;
                    width: 100%;
                    input{
                        width: 100%;
                    }
                }
                .img-holder{
                    width: 100%;
                    height: auto;
                    display: flex;
                    gap: 2rem;
                    
                    .img-placeholder{
                        width: 50%;
                        height: 30rem;
                        border: 0.1rem solid #afafaf;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-size: cover;
                        background-position: center;
                        font-size: 5rem;
                        color: #afafaf;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    label{
                        width: 50%;
                        height: 30rem;
                        border: 0.1rem dashed #333;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 5rem;
                        color: #333;
                        cursor: pointer;
                        input{
                            width: 100%;
                            height : 100%;
                            position: absolute;
                            opacity: 0;
                        }
                    }
                }

                .weeks-checkbox-div{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    gap: 2rem;
                    max-height: 20rem;
                    .input-checkbox-div{
                        display: flex;
                        gap: 1rem;
                        width: 33.33%;
                        input{
                            margin: 0;
                            width: 2rem;
                            
                        }
                        label{
                            color: #333;
                            font-weight: 300;
                        }
                      
                    }
                }
                .time-div{
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    padding: 2rem 0;
                    margin-top: 2rem;
                    position: relative;
                    h4{
                        color: #afafaf;
                    }
                    .open-div,.close-div{
                        display: flex;
                        width: auto;
                        border: 0.1rem solid #eeeeee;
                        padding: 1rem 2rem;
                        border-radius: 0.5rem;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
                        h4{
                            position: absolute;
                            top: -2.5rem;
                            left: 0;
                            color: #afafaf;
                        }
                        span{
                            margin: 0;
                        }
                        i{
                            font-size: 1.8rem;
                            margin-left: 2rem;
                            font-weight: 500;
                        }
                    }
                    .open-time-wrap-con,.close-time-wrap-con{
                        top: 101%;
                        left: 0;
                        
                        background-color: white;
                        box-shadow: 0 3px 1rem rgba(0,0,0,.1);
                        display: none;
                        position: absolute;
                        z-index: 1;
                        padding: 0.5rem;
                        column-gap: 0.5rem;
                        .close-time-con-hours,.close-time-con-min{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            max-height: 20rem;
                            overflow-y: auto;
                            scrollbar-width: none;
                            row-gap: 1rem;
                            input{
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                margin: 0;
                            }
                            label{
                                width: 6rem;
                                height: 5rem !important;
                                padding: 0;
                                margin: 0;
                            }
                            .hours,.min{
                                display: block;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 0.3rem;
                                
                            }

                            .container:hover input ~ .hours {
                                background-color: #ccc;
                            }
                            
                            /* When the radio button is checked, add a blue background */
                            .container input:checked ~ .hours {
                                background-color: #1c1c1c;
                                color: white;
                            }
                            .container:hover input ~ .min {
                                background-color: #ccc;
                            }
                            
                            /* When the radio button is checked, add a blue background */
                            .container input:checked ~ .min {
                                background-color: #1c1c1c;
                                color: white;
                            }
                        }

                    .open-time-con-hours,.open-time-con-min{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        max-height: 20rem;
                        overflow-y: auto;
                        scrollbar-width: none;
                        row-gap: 1rem;
                        
                        
                      
                        input{
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            margin: 0;
                        }
                        label{
                            width: 6rem;
                            height: 5rem !important;
                            padding: 0;
                            margin: 0;
                        }
                        .hours,.min{
                            display: block;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0.3rem;
                            
                        }
                         
                        
                        .container:hover input ~ .hours {
                            background-color: #ccc;
                        }
                        
                        /* When the radio button is checked, add a blue background */
                        .container input:checked ~ .hours {
                            background-color: #1c1c1c;
                            color: white;
                        }
                        .container:hover input ~ .min {
                            background-color: #ccc;
                        }
                        
                        /* When the radio button is checked, add a blue background */
                        .container input:checked ~ .min {
                            background-color: #1c1c1c;
                            color: white;
                        }
                    }
                }
                   
                }
                .selected-div{
                    margin: 2rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    span{
                        font-size: 1.8rem;
                        color: #afafaf;
                        margin: 0;
                    }
                    .selected-item{
                        background-color: #f5f5f5;
                        padding: 0.5rem;
                        height: max-content;
                        gap: 1rem;
                        border-radius: 0.3rem;

                        h4{
                            margin: 0;
                        }
                        
                    }
                }
                .checkbox-div{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: auto;
                    row-gap: 2rem;
                    
                    .input-checkbox-div{
                        display: flex;
                        gap: 1rem;
                        width: 33.33%;
                        input{
                            margin: 0;
                            width: 2rem;
                            
                        }
                        label{
                            color: #333;
                            font-weight: 300;
                        }
                      
                    }
                }
                .establishment-radio-div{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    gap: 2rem;
                    margin-bottom: 2rem;
                    input{
                       width: auto;
                       margin: 0;
                      transform: scale(1.2);
                    }
                    span{
                        font-weight: 400;
                        margin: 0;
                        font-size: 2rem;
                    }
                }
                .owner-det{
                    display: flex;
                    gap: 1rem;
                }
                .otp-div{
                    display: none;
                    gap: 1rem;

                    input{
                       width: 15rem;
                       padding-right: 0;
                    }
                }
                label{
                    font-size: 1.8rem;
                    
                    color: #afafaf;
                   
                }
                input,select{
                    font-size: 2rem;
                    border: 0.1rem solid #afafaf;
                    border-radius: 0.5rem !important;
                    width: 100%;
                    padding: 0.8rem;
                    outline: none;
                    font-weight: 300;
                    margin:0.5rem 0 2rem 0;
                    
                }
                .styled-header{
                    margin: 0 0 2rem 0;
                    margin: 2rem 0;
                    span{
                        margin: 0;
                    }
                    p{
                        margin: 0;
                        color: #afafaf;
                        font-size: 1.5rem;
                        font-weight: 300;
                    }
                }
                .tel-wrapper{
                    display :flex;
                    width: 100%;
                    gap: 1rem;
                    .tel-det{
                    
                        display: flex;
                        align-items: center;
                        border: 0.1rem solid #afafaf;
                        border-radius: 0.5rem !important;
                        padding: 0.8rem;
                        span{
                            margin: 0 0;
                            font-size: 1.8rem;
                        }
                        hr{
                            display: block;
                            height: 3rem !important;
                            border: 0.1rem solid #afafaf;
                            margin: 0 2rem;
                          
                        }
                        input{
                            margin: 0;
                            border: none;
                            padding:  0;
                        }
                        
                    }
                    .verify-phone,.verify-owner-phone{
                        flex-grow: 1;
                        font-size: 1.8rem;
                        background-color: #1c1c1c;
                        color: white;
                        border: 0.1rem solid #1c1c1c;
                        border-radius: 0.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;
                    }
                }
                
            }
            span{
                font-size: 2.2rem;
                color: #333;
                margin: 2 0 2rem 0;
               
            }
            #map{
                width: 100%;
                height: 30rem;
            }
            .detect-loc{
                border: none;
                background-color: #1c1c1c;
                padding: 1rem 2rem;
                font-size: 1.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem !important;
                color: white;
                margin: 2rem 0rem !important;
                gap: 2rem;
            }

            .buttons-con{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 2rem 0;

                .prev,.next{
                    border: 0.2rem solid #1c1c1c;
                    padding: 0.8rem 4rem;
                    font-size: 1.8rem;
                    border-radius: 0.5rem;
                    color: #1c1c1c;
                    background-color: white;
                }
                .next{
                    background-color: #1c1c1c;
                    color: white;
                    margin-left: auto;
                }
            }
        }
        .step-active{
            display: block;
        }
       
    }
}
#progress{
    position: absolute;
    width: 0.5rem;
    left: 3.2rem;
    z-index: -1;
    background-color: #1c1c1c;
    transition: 0.2s ease-in-out;
}
.wrapper{
    width: 100rem !important;
}
@media (max-width: 920px) {
    
}
.nav-wrapper{
    width: 100rem !important;
}
@media (max-width : 480px) {
    .otp-div{
        button{
           padding: 1rem 3rem !important;
           font-size: 3rem !important;

        }
    }
    .tel-wrapper{
        .verify-phone{
            font-size: 3rem !important;
        }
    }
    .success-popup{
        min-width: 90%;
        lottie-player{
            width: 100px !important;
            height: 100px !important;
        }
        small{
            font-size: 3rem;
        }
    }
}