nav {
  -webkit-box-shadow: 0 3px 1rem #0000001a;
          box-shadow: 0 3px 1rem #0000001a;
  position: relative !important;
  width: 100%;
}

nav .nav-links-con ul li a {
  color: #333;
}

nav .acc-det .fa-heart, nav .acc-det .fa-caret-down, nav .acc-det span {
  color: #333;
}

.edit-prof-sec1 {
  width: 100%;
  min-height: calc(100vh - 8rem);
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-prof-sec1 .edit-det-con {
  width: 100%;
  height: auto;
  padding: 2rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.edit-prof-sec1 .edit-det-con h1 {
  font-weight: 700;
  font-size: 3rem;
}

.edit-prof-sec1 .edit-det-con .wrap-con {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  height: 100%;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con .avatars-wrap-con::-webkit-scrollbar {
  display: none;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con .input-group h2 {
  font-size: 2.5rem !important;
  margin: 4rem 0 2rem 0;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con .input-group input {
  width: 10rem;
  height: 10rem;
  border: none;
  border-radius: 50% !important;
  overflow: hidden;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con .avatars-wrap-con {
  width: 100%;
  height: 47rem;
  overflow-y: scroll;
  padding-right: 2rem;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con .avatars-wrap-con h2 {
  font-size: 2.5rem !important;
  margin: 4rem 0 2rem 0;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con .avatars-wrap-con .avatars-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con .avatars-wrap-con .avatars-con .images-wrap-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con .avatars-wrap-con .avatars-con .images-wrap-con img {
  width: 12rem;
  height: 12rem;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con .avatars-wrap-con .avatars-con .images-wrap-con img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0rem 0 4rem 0rem;
  width: 18rem;
  height: 18rem;
  position: relative;
  background-color: #eee;
  text-align: center;
  line-height: 18rem;
  color: green;
  font-size: 4rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con form label img {
  width: 16rem;
  height: 16rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con form input[type="file"] {
  display: none;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con form .changeImg {
  background-color: white;
  border: 0.2rem solid #00917c;
  padding: 0.8rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #00917c;
}

.edit-prof-sec1 .edit-det-con .wrap-con .left-con form .changeImg:hover {
  background-color: #00917c;
  color: white;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .save-btn {
  background-color: #00917c;
  color: white;
  border: 0.2rem solid #00917c;
  padding: 0.8rem 4rem;
  border-radius: 1rem;
  font-size: 2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con h2 {
  letter-spacing: 1rem;
  color: #afafaf;
  text-transform: uppercase;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con form input {
  font-size: 2rem;
  padding: 1.2rem;
  width: 100%;
  border: 0.1rem solid #afafaf;
  border-radius: 1rem;
  outline: black;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con form input[name="phone"] {
  color: #afafaf;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con form .text-danger {
  opacity: 0;
  font-size: 1.5rem;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.5rem;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div span {
  font-size: 2rem;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div .switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3rem;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div .slider.round {
  border-radius: 34px;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div .slider.round:before {
  border-radius: 50%;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div .slider:before {
  position: absolute;
  content: "";
  height: 2.2rem;
  width: 2.2rem;
  bottom: 50%;
  -webkit-transform: translate(0.6rem, 50%);
          transform: translate(0.6rem, 50%);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div input:checked + .slider {
  background-color: #00917c;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #00917c;
          box-shadow: 0 0 1px #00917c;
}

.edit-prof-sec1 .edit-det-con .wrap-con .right-con .priv-acc-div input:checked + .slider:before {
  -webkit-transform: translate(calc(150% - 0.1rem), 50%);
          transform: translate(calc(150% - 0.1rem), 50%);
}

.ava {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ava img {
  width: 10rem;
  height: 10rem;
}

.ava h1 {
  display: inline-block;
  width: 100%;
}
/*# sourceMappingURL=editprofile.css.map */