
nav{
    box-shadow: 0 3px 1rem #0000001a;
    position: relative !important;
    width: 100%;
    .nav-links-con{

        ul {
            li {
                a{
                    color: #333;
                }
            }
        }
    }

    .acc-det{
        .fa-heart,.fa-caret-down,span{
            color: #333;
        }
        
    }
}

.edit-prof-sec1{
  
    width: 100%;
    min-height: calc(100vh - 8rem);
    padding: 4rem 0;
    display: flex;
    .edit-det-con{
        width: 100%;
        // min-height: calc(100vh - 16rem);
        height: auto;
        padding: 2rem 2rem;
        border-radius: 1rem;
        box-shadow: 0 3px 1rem rgba(0,0,0,.1);
        display: flex;
        flex-direction: column;
        gap: 4rem;
        h1{
            font-weight: 700;
            font-size: 3rem;
        }
        .wrap-con{  
            flex: 1 1 auto;
            display: flex;
            

            .left-con{
                width: 50%;
                display: flex;
                justify-content: center;

                form{
                    display: flex;
                    flex-direction: column;
                    label{
                        display: inline-block;
    
                        cursor: pointer;
                        
                        margin: 0rem 0 4rem 0rem;
                        width: 18rem;
                        height: 18rem;
                        position: relative;
                        background-color: black;
                        text-align: center;
                        line-height: 18rem;
                        color: green;
                        font-size: 4rem;
                        border-radius: 50%;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;

                    }
                
                    input[type="file"] {
                        display: none;
                    }

                    button[type="submit"]{
                        background-color: white;
                        border: 0.2rem solid #3ea055;
                        padding: 0.8rem 0;
                        border-radius: 1rem;
                        font-size: 2rem;
                        transition: 0.2s ease-in-out;
                    }
                    button[type="submit"]:hover{
                        background-color: #3ea055;
                        color: white;
                    }
                }
            }


            .right-con{
                width: 50%;
                display: flex;
                
                flex-direction: column;
                gap: 2rem;

                .save-btn{
                        background-color: #3ea055;
                        color: white;
                        border: 0.2rem solid #3ea055;
                        padding: 0.8rem 4rem;
                        border-radius: 1rem;
                        font-size: 2rem;
                        transition: 0.2s ease-in-out;
                        width: fit-content;
                        align-self: flex-end;
                }

                h2{
                    letter-spacing: 1rem;
                    color: #afafaf;
                    text-transform: uppercase;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    width: 100%;
                    

                    input{
                        font-size: 2rem;
                        padding: 1.2rem;
                        width: 100%;
                        border: 0.1rem solid #afafaf;
                        border-radius: 1rem;
                        outline: black;
                    }
                    input[name="phone"]{
                        color: #afafaf;
                    }
                    .text-danger{
                        opacity: 0;
                        font-size: 1.5rem;
                    }
                }

                .priv-acc-div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 1.5rem;
                    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
                    border-radius: 1rem;
                    margin-bottom: 2rem;


                    span{
                        font-size: 2rem;
                    }
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 6rem;
                        height: 3rem;

                        input{
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }
                      }
                      .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: .4s;
                        transition: .4s;
                       
                      }
                      .slider.round {
                        border-radius: 34px;
                      }
                      
                      .slider.round:before {
                        border-radius: 50%;
                      }
                      .slider:before {
                        position: absolute;
                        content: "";
                        height: 2.2rem;
                        width: 2.2rem;
                        bottom: 50%;
                        transform: translate(0.6rem,50%);
                        
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                      }
                      
                      input:checked + .slider {
                        background-color: #3ea055;
                      }
                      
                      input:focus + .slider {
                        box-shadow: 0 0 1px #3ea055;
                      }
                      
                      input:checked + .slider:before {
                        
                        transform: translate(calc(150% - 0.1rem),50%);
                      }
                      
                }
            }
        }
    }
}

