.bi-caret-down-fill{    
   
transition: 0.2s all ease-in-out;
transform-origin: center;
}
.categories-btn{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: black;
    color: white;
    font-size: 3rem;
    border: 0.1rem solid black;
    padding: 2rem 3rem;
    border-radius: 5rem;
    z-index: 2;
}
.ovf-div{
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: none;
}
.categories-div::-webkit-scrollbar{
    display: none;
}
.categories-div{
    background: white;
    position: fixed;
    bottom: 12rem;
    right: 2rem;
    height: 90rem;
    width: 55rem;
    border-radius: 5rem;
    z-index: 2; 
    padding: 4rem 2rem;
    overflow-y: scroll;
    display: none;    
    ul{
        height: auto;
        width: 100%;
        padding-left: 0;
        li{
            width: 100%;
            padding: 2rem 0;
            font-size: 4rem;
            text-decoration: none;
            list-style: none;
            border-bottom: 0.1rem solid #f5f5f5;
        }
    }
}
.landing-div{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(/images/cookie.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


    h1{
        position: relative;
        font-size: 10rem;
        top: 10%;
        font-family: "Tangerine", "cursive";
        text-align: center;
        color: white;
        font-weight: 700;
    }
    .quote{
        font-family: "Rochester", "cursive";
       
        font-size: 4rem;
        color: white;
        height: 15rem;
        line-height: 6rem;
        display: flex;
        align-items: center;
    }
}
.heading{
    position: absolute;
    top: 100%;
    width: 90%;
    border-radius: 10rem;
    background-color: black;
    padding: 3rem 1rem;
box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    transform: translate(-50%,-20%);
    left: 50%;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;




    h1{
        margin: 0;
        font-size: 4rem;
        font-weight: 300;
        text-align: center;
        color: white;
    }
}
.head-scroll{
    opacity: 1 !important;
    pointer-events: all;
    transform: translate(-50%,-40%) !important;

}

.menu-items{
    min-height: 100vh;
    width: 100%;
    
    .filter-div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 2rem 0;
        padding: 2rem 2rem;
        gap: 2rem;
        .veg,.non-veg{
            padding: 1rem 2rem;
            background-color: white;
            border: 0.2rem solid #afafaf;
            border-radius: 0.5rem;
            span{
                font-size: 2.5rem;
                
            }
        }
    }

    .menu-wrap-con,.menu-wrap-con-takeaway{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 2rem;
        align-items: center;
        width: 100%;

        hr{
            color: #f5f5f5;
            height: 0.5rem !important;
            width: 100%;
            background-color: #afafaf;
        }
        .specify-div{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            width: 100%;
            height: auto;
            background-color: white;
            border-radius: 5rem;
            .specify-head{
                font-size: 3rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                background-color: #f5f5f5;
                font-weight: 300;
                border: none;
                height: 8rem;
                padding: 1.5rem 3rem;  
                
                .bi-caret-down-fill{
                    width: auto;
                    height: auto;
                    text-align: center;
                }
                
            }
        }
       
        .item-wrap-con{
            display: flex;
            gap: 2rem;
        }
        .menu-item{
            width: 100%;
            min-height: 24rem;
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            overflow: hidden;


            hr{
                color: #f4774d;
                border: none;
                height: 1px !important;
                width: 95%;
            }
            
            .img-wrap-con{
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .img-div{
                min-width: 18rem;
                height: 18rem;
                border-radius: 1rem;
                background-color: #f5f5f5;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 75%;
                    height: 75%;
                    border-radius: 0.5rem;
                    object-position: center;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }

            }

            
            .item-details-div{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;   
                

                img{
                    height: 3rem;
                    width: 3rem;
                    margin-bottom: 1rem;
                    object-fit: contain;
                }
                .item-name{
                    font-size: 3rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                }
                .item-price{
                    font-size: 3rem;
                    font-weight: 300;
                    margin-bottom: 2rem;

                }

                
            }
            .quantity-wrap-div{
                width: 1fr;
                height: auto;
                display: flex;
                background-color: #f5f5f5;
                border-radius: 10rem;
                gap: 1rem;
                margin-left: 20rem;
                padding: 1.5rem 2rem;
                .quantity-div{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                    width: fit-content;
                    padding:0 2rem;
                    input{
                        width: 3rem;
                        
                    }

                    label{
                        font-size: 2.5rem;
                    }
                }
            }
            .add-to-cart-div{
                min-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                .add-to-cart{
                    width: 20rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    font-size: 3rem;
                    padding: 1rem 2rem;
                    color: white;
                    background-color: #00917c;
                    border: 0.1rem solid #00917c;
                    
                    border-radius: 10rem;
                    i{
                        font-size: 4rem;
                        line-height: 3rem;
                    }
                }
                }
        }
    }
}

.btn-con{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
   font-size: 4rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #00917c;
    border: 0.1rem solid #00917c;
    
    border-radius: 10rem;

    button{
        line-height: 3rem;
        height: auto;
        background-color: #00917c;
        border: none;
    }
    i{
        font-size: 4rem;
        font-weight: 500;
        color: white;
        line-height: 4rem;

    }
    input{  
        max-width: 3rem;
        text-align: center;
        background-color: #00917c;
        color: white;
        border: none;
        font-size: 3rem;
        line-height: 3rem;
    }
    span{
        line-height: 4rem;
    }
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 11;
    width: 90%;
    height: auto;
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid #afafaf;
    padding: 1rem;

    svg{
        width: 5rem;
        height: 5rem;
    }
    h1{
        font-size: 3.5rem;
    }
    p{
        font-size: 2rem;
    }
}