.login-con{
    flex-direction: row-reverse;
}
.wel-msg-con{
    background-color: #181D31;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
   
}
.wel-msg-con:hover{
    line-height: 10rem !important;

    }
.login-det{
    
    .login-btn{
        background-color: #181D31;
    }
    .new-acc-link{

        a{
            color: #181D31;
        }
    }
    
}
nav{
    .acc-det{
        a{
            color: black;
        }
    }
}
@media (max-width: 875px) {
    .login-con{
        flex-direction: column-reverse;
        width: 90% !important;
        height: 125rem !important;
    }

    .wel-msg-con{
        width: 100% !important;
        height: 50% !important;

        span{
        font-size: 5rem !important;

        }
    }

    .login-det{
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center !important;

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            margin-top: 2rem;
            position: relative;
        }

        span,.input-details,.login-btn{
            margin-left: 0 !important;
        }
        span{
            font-size: 5rem !important;
        }
        .input-details{
            width: auto !important;

            input{
                width: 35rem !important;
            font-size: 3rem !important;

            }
            #phone,#password{
                width: calc(35rem - 9.1rem) !important;
            }

            span{
                font-size: 3rem !important;
                width: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .new-acc-link{
            font-size: 2.5rem !important;

            a{
                margin-top: 1rem !important;
                font-weight: 400 !important;
                color: #1d7932;
                font-size: 3.5rem !important;
            }
        }
    }
    .wel-msg-con:hover{
    line-height: 8rem !important;

    }
}

form{
    .danger-l-span{
        font-size: 3rem !important;
        background-color: rgb(206, 24, 24);
        
        color: white;   
        right: 0;
        bottom: 0;
        text-align: center;
        transform: translate(100%,0);    
        border-radius: 0.5rem;
        width: fit-content;
        padding: 2rem 2rem;
        position: absolute;
        top: 0;
        height: fit-content;
        right: 50%;
        transform: translate(50%,0);
        opacity: 0;
        transition: 0.5s all ease-in-out;
        pointer-events: none;
}
}
